<div class="row nav-row">
	<div class="four columns">
		<h1><a href="/">HubSlacker</a></h1>
	</div>
	<div class="eight columns">
		<ul class="u-pull-right nav">
			<li><a href="/documentation" class="button nav-link">Documentation</a></li>
			<li><a href="/" class="button nav-link">Settings</a></li>
			<li><a href="/account" class="button nav-link">Accounts</a></li>
			<li><a href="/logout" class="button">Logout</a></li>
		</ul>
	</div>
</div>

