<div class="row nav-row">
	<div class="six columns">
		<h1>LeadNotify</h1>
	</div>
	<div class="six columns">
		<ul class="u-pull-right nav">
			<li><a href="/" class="button nav-link">Home</a></li>
			<li><a href="/account" class="button nav-link">Account</a></li>
			<li><a href="/logout" class="button">Logout</a></li>
		</ul>
	</div>

</div>

