<%- include('../partials/header') -%>
<h1>
  Title
</h1>
<p>
<form action="https://app.hubspot.com/auth/authenticate" method="GET">
	<input name="portalId" placeholder="Portal Id">
  <button type="submit">Authorize</button>
</form>

<a href="?client_id=973a83bb-03e4-11e6-9653-93a39db85acf&portalId=471491&redirect_uri=http://localhost:5000&scope=offline">Verify Login</a>

</p>
<%- include('../partials/footer') -%>

