<%- include('../partials/header') -%>
<h1>
  Title
</h1>
<form action="https://app.hubspot.com/auth/authenticate" method="GET">
	<input name="portalId" placeholder="Portal Id">
  <button type="submit">Authorize</button>
</form>

<%- include('../partials/footer') -%>

