<%- include('../partials/header') -%>

<%- include('../partials/login_nav') -%>

<div class="row">
	<div class="form-wrapper">
	<form role="form" action="/login" method="post">
	  <input type='text' name="username" placeholder='Username'>
	  <input type='password' name="password" placeholder='Password'>
	  	<button class="form-btn" type="submit">Login</button>
	</form>
	</div>
</div>
<%- include('../partials/footer') -%>

