<%- include('../partials/header') -%>

<form role='form' action="/register" method="post">
  <input type='text' name="username" placeholder='Enter Username'>
  <input type='password' name="password" placeholder='Password'>
  <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') -%>